button,
:global(.button) {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #126734;
    border-radius: 3px;
    background: white;
    color: #126734;
    text-align: center;
    padding: 0.8rem 1.25rem;
    font: inherit;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    transition: border-color 270ms, background-color 270ms, color 270ms;
}

button:hover,
:global(.button):hover,
:global(.a11y--active) button:focus,
:global(.a11y--active .button):focus {
    background: #e9efec;
    border-color: #292f2c;
    color: #292f2c;
}

button:hover,
:global(.button):hover {
    text-decoration: none;
}

:global(.a11y--active) button:focus,
:global(.a11y--active .button):focus {
    text-decoration: underline;
}

.primary,
:global(.button--primary) {
    background-color: #126734;
    border-color: #126734;
    color: white;
    font-weight: 700;
}

.primary:hover,
:global(.button--primary):hover,
:global(.a11y--active) .primary:focus,
:global(.a11y--active .button--primary):focus {
    background-color: #292f2c;
    border-color: #292f2c;
    color: white;
}

.disabled,
.disabled:hover {
    background: white;
    cursor: not-allowed;
    border-color: #c9cfcc;
    color: #c9cfcc;
    box-shadow: none;
}
