.main {
    padding: 40px 20px;
}


@media (min-width: 640px) {
    .main {
        padding: 60px 30px;
    }
}

@media (min-width: 1080px) {
    .main {
        padding: 60px 40px;
    }
}
